
.mis-codigos
    // border: 2px solid red
    background-color: black
    display: flex
    flex-direction: column
    align-items: center

    // color: white
    font-size: 21px
    height: 100vh
    padding-top: 30vh
    .titulo
        font-family: compact
        font-size: 68px
        color: #F6E01A
        margin-bottom: -109px
    .wrap-1
        display: flex
        flex-direction: row
    .wrap-2
        display: flex
        flex-direction: row
        background-image: url("../img/fondo-puntos.png")
        background-size: contain
        padding: 146px 177px
        background-position: center
        background-repeat: no-repeat
.mis-codigos
    justify-content: center
    .box1
        // border: 2px solid blue
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        // width: 50vw
        // padding: 6% 0
        p
            font-family: compact
            font-size: 42px
            color: red
            margin-bottom: 20px
        p.leyenda
            font-family: arial
            font-size: 14px
            color: red
            margin-bottom: 20px
            background-color: white
            border-radius: 30px
            margin-top: 20px
            padding: 5px 10px
        table
            display: block
            overflow: auto
            height: 320px
            width: 655px
            font-family: arial
            color: black

            thead
                th
                    margin-bottom: 30px
                    font-family: amsi
                    font-size: 37px
            tbody
                text-align: center
                td
                    padding: 5px 0
                    font-size: 18px
                    width: 186px
                .mp-tabla
                    color: red
                    font-weight: bold
                    text-transform: uppercase
        table::-webkit-scrollbar-thumb
                background-color: #FAFAFA
                border-radius: 5px
        table::-webkit-scrollbar
                width: 8px
                background-color: #9A9A9A
                border-radius: 5px
        .back-iniciar-mobile
            display: none
            .btn-ingreso
                font-family: compact
                padding: 6px 44px
                font-size: 1.8em
                margin-bottom: 25px
                outline: none
                border: none
                border-radius: 33px
                background-color: white
                cursor: pointer
                color: #DE0613
        .div-linea
            // border: 2px solid white
            border-radius: 5
            width: 4px
            height: 25px
            margin-bottom: 18px
        .btn-registro
            color: white
            padding: 30px 60px
            outline: none
            border: none
            cursor: pointer
            padding: 5px 29px
            font-family: compact
            border-radius: 160px
            font-size: 1.3em
            background: rgb(155,0,10)
            background: linear-gradient(0deg, rgba(155,0,10,1) 18%, rgba(222,4,17,1) 81%)
        .btn-registro:hover
            color: #FFDB06
    .box2
        // border: 2px solid yellow
        width: 20vw
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        div
            display: flex
            justify-content: center
            align-items: center
            label
                width: 200px
                height: auto
                // border: 1px solid red
                background-size: contain
                background-position: center
                background-repeat: no-repeat
                padding: 11%
                display: flex
                justify-content: center
                align-items: center
                font-family: compact
                font-size: 1.8em
                cursor: pointer
                transition: color .5s
            input
                opacity: 0
                position: absolute
                
            input:checked + label
                color: yellow
            input:disabled + label
                cursor: not-allowed

        div.boton-on
            label
                color: white
                background-image: url("../img/bush-azul.png")
        div.boton-off
            label
                color: #9F9F9F
                background-image: url("../img/bush-blanco.png")
        button
            background-image: url("../img/canjear-mp.png")
            background-size: contain
            background-position: center
            background-repeat: no-repeat
            width: 100%
            height: 75px
            display: flex
            background-color: transparent
            border: none
            cursor: pointer
            transition: transform .2s
        button:hover
            transform: scale(1.05)

@media screen and ( min-width: 1648px)
    .mis-codigos
        height: 100vh
        .box1
            .div-linea
                height: 28px

@media screen and ( max-width: 1318px)
    .mis-codigos
        height: 100vh
        font-size: 15px
@media screen and ( max-width: 1168px)
    .mis-codigos
        font-size: 12px
        padding-top: 5vh
        .box1
            form
                .btn-ingreso
                    padding-bottom: 0px
                ul
                    label
                        font-size: 25px
                    input[type=submit]
                        font-size: 1.8rem
@media screen and ( max-width: 987px)
    .mis-codigos
        height: auto
        font-size: 11px
        padding-top: 15vh
        .titulo
            margin-bottom: 0
        .wrap-2
            padding: 0 150px
            flex-direction: column
            background-color: #dbd9df
            background-image: none
        .box1
            padding-top: 2%
            width: 100vw
            table
                margin-bottom: 31px
            .div-linea
                height: 35px

            form
                ul
                    width: 90vw
                    justify-content: center
                    li
                        width: 100%
                    li#li_10
                        width: 100%
                        display: flex
                        flex-direction: column
                        div
                            margin-bottom: 14px
        .box2
            width: auto
            padding-bottom: 2%
            div
                label
                    width: 170px
            form
                width: 50%
                width: 50%
                display: flex
                flex-wrap: wrap
                justify-content: center

@media screen and ( max-width: 647px)
    .mis-codigos
        padding-top: 16vh
        .titulo
            font-size: 43px
        .box1
            padding-top: 6vh
            width: 100%
            .back-iniciar-mobile
                width: 100%
                display: block
            p
                font-size: 28px
                margin-bottom: 15px
                .input-ingreso
                    height: 37px
                    padding: 0 30px
                    padding-bottom: 4px
                .btn-ingreso
                    height: 37px
                ul
                    label
                        line-height: 20px
                    li
                        margin-bottom: 9px
                    input
                        font-size: 1.5em
                        height: 40px
                        padding: 0 19px
            table
                width: 366px
                border-bottom: 1px solid silver
                border-top: 1px solid silver
                thead th
                    font-size: 20px
                tbody td
                    font-size: 12px
            .div-linea
                margin-bottom: 20px
            .btn-registro
                font-size: 1.9em
    .wrap-2
        padding: 0!important

@media screen and ( max-width: 500px)
    .mis-codigos
        background-size: 0
        background-position: -20px 452px
        padding-top: 16vh
        .titulo
            margin-bottom: 30px
        .box1
            padding-top: 17px!important
            .img-quedan
                width: 70%
            form
                width: 100%
            p.leyenda
                margin: 10px 6px
                text-align: center
                margin-top: 0
            table
                margin-bottom: 0!important
        .box2
            form
                width: 100%
                button
                    margin-top: 20px
                    height: 60px
            div
                label
                    font-size: 2.9em!important

.mis-codigos .box1 table ::-webkit-scrollbar
    width: 8px
    background-color: #3fb3e8
    border-radius: 5px